{% extends "Template.twig" %}

{% block content %}

    <div class="mainNotFound">
        <figure class="main__notFound">
            <img src="https://i.imgur.com/n0HmkQE.png" alt="404 not found" class="main__notFound--img">
        </figure>
    </div>

{% endblock %}