<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">

    <!--Fonts -->
    <link rel="stylesheet" href="{{ getCss('style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script src="{{ getJs('example.js') }}"></script>
    <title>{{ title }} - Arcturus Project</title>
</head>
<body>
<header>

    <ul class="ul">
        <li><a href="">HOME</a></li>
        <li><a href="">SERVICES</a></li>
        <div class="logo_1"><img src="{{ getAssets('icon/logo.jpeg') }}" class="logo" alt=""></div>
        <li><a href="">BLOG</a></li>
        <li><a href="">CONTACT US</a></li>
    </ul>
</header>

<article class="main">
    {% block content %}
    {% endblock %}
</article>
</body>
</html>



